[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
fastapi = "*"
starlette-context = "*"
uvicorn = {version = "*", extras=["standard"]}
sentry-sdk = {version = "*", extras=["fastapi"]}